header {
    background-color: #f2f2f2;
    padding: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav {
    display: flex;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    padding: 100px;
  }
  
  .logo img {
    width: 1500px;
  }
  
  .search input {
    padding: 100px;
    border: 10px solid #ccc;
  }
  
  .search button {
    padding: 100px;
    background-color: #4CAF50;
    color: white;
    border: none;
  }