header {
    background-color: #FFA500; /* Laranja */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav {
    display: flex;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    padding: 10px;
  }
  
  .logo img {
    width: 150px;
  }
  
  .search input {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .search button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
  }